body {
  box-sizing: border-box;
  font-family: Helvetica Neue, Arial, sans-serif;
  max-width: 100vw;
}

.hidden-elements {
  visibility: hidden;
}

.main-header {
  display: initial;
  position: fixed;
  width: 100%;
  top: 0;
}

.uppernav {
  display: flex;
  width: 100%;
  background: black;
  color: white;
  font-size: 13px;
  align-items: center;
  height: 30px;
  letter-spacing: 1px;
}

.upper-left {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.upper-left li {
  margin-right: 10px;
  cursor: pointer;
}

.upper-right {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.upper-right li {
  margin-right: 10px;
  cursor: pointer;
}

.lowernav {
  display: flex;
  width: 100%;
  background: rgb(255, 255, 255);
  color: #aaa;
  font-size: 13px;
  font-weight: 500;
  align-items: center;
  height: 50px;
  font-family: sans-serif;
  letter-spacing: 0.04em;
  justify-content: space-between;
  position: relative;
}

#lowerlist {
  list-style: none;
  display: flex;
  padding-left: 20px;
  transition: 0.5s;
}

#lowerlist li {
  margin-right: 30px;
  cursor: pointer;
}

#logo-corner {
  width: 106px;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: ease-in-out;
  visibility: hidden;
  z-index: 999;
}

#logo-corner-mobile {
  width: 106px;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: ease-in-out;
  visibility: hidden;
  z-index: 999;
}

#logo-corner-mobile img {
  padding: 16px;
}

@media (max-width: 767px) {
  #logo-corner-mobile {
    visibility: visible;
  }
}

#logo-corner:hover {
  background-image: url(../img/logobackground.gif);
  background-position: 50%;
  background-size: cover;
}

#logo-corner img {
  padding: 16px;
}

#logo-corner .popup-menu {
  visibility: hidden;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-items: space-between;
  padding: 5px 0;
  top: 50px;
  left: 0;
  position: absolute;
  width: 106px;
  z-index: 20;
  font-size: 13px;
  list-style: none;
  text-decoration: none;
}

.popup-menu li {
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  margin-left: 25%;
  color: gray;
  font-family: "Liberation Sans", Helvetica;
}

.popup-menu li:first-child {
  color: white;
}

.popup-menu li:hover {
  color: white;
}

#logo-corner .show {
  visibility: visible;
  animation: fadeIn 90ms;
}

@keyframes fadeIn {
  0% {
    height: 0%;
    opacity: 0;
  }
  25% {
    height: 25%;
    opacity: 0.25;
  }
  50% {
    height: 50%;
    opacity: 0.5;
  }
  75% {
    height: 75%;
    opacity: 0.75;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

.search-button-container {
  padding: 1%;
  border-left: 1px solid #eee;
  cursor: pointer;
}

#banner {
  display: flex;
  background: yellow;
  padding-left: 20px;
  margin: 0;
  height: 30px;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease;
  font-size: 12.8px;
}

.header-grid {
  display: grid;
  grid-template-columns: 3fr 1.3fr;
  grid-template-rows: 227px 227px;
  grid-gap: 10px;
  color: white;
  margin: 106px 0.3% 0 0.3%;
}

.huge {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: linear-gradient(
      135deg,
      rgba(255, 0, 0, 0.883),
      rgba(29, 28, 28, 0.849) 60%,
      rgb(0, 0, 0) 100%
    ),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/kayleighmcenany-796x419.jpg);
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr;
  padding: 20px;
}

.huge-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1/2;
}

.tnw-cover-logo {
  width: 400px;
  margin: 0;
}

.cover-date {
  display: grid;
  justify-content: end;
}

.huge-bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  align-content: end;
}

.insights {
  margin: 0;
}

.title-cover {
  font-size: 45px;
  margin: 0;
}

.cover-footer {
  font-size: 11px;
  display: flex;
  list-style: none;
  padding: 0;
  color: rgb(236, 236, 236);
  margin: 0;
}

.cover-footer li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.cover-footer a {
  margin-left: 4px;
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.cover-footer a:hover {
  color: white;
  font-size: 11.5px;
}

.aside {
  display: grid;
  /* flex-direction: column; */
  align-content: end;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
}

.aside1 {
  grid-column: 2;
  grid-row: 1/2;
  background: grey;
  padding-left: 20px;
  background-image: linear-gradient(
      135deg,
      rgba(255, 0, 0, 0.883),
      rgba(29, 28, 28, 0.849) 60%,
      rgb(0, 0, 0) 100%
    ),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/psychedelic-796x419.png);
}

.aside2 {
  grid-column: 2;
  grid-row: 2/3;
  background: grey;
  padding-left: 20px;
  background-image: linear-gradient(
      135deg,
      rgba(255, 0, 0, 0.883),
      rgba(29, 28, 28, 0.849) 60%,
      rgb(0, 0, 0) 100%
    ),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/PlayStation-5-DualSense-796x417.jpg);
  background-size: cover;
}

.aside-head {
  font-size: 24px;
  margin: 0;
}

.aside ul {
  margin-left: 0;
  margin-bottom: 5px;
  margin: 0;
}

.aside > p {
  width: 35%;
}

.latest {
  margin: 5% auto;
  max-width: 1192px;
}

@media (max-width: 767px) {
  .latest {
    margin-bottom: 25%;
  }
}

.latest-news-header {
  color: #ff4422;
  font-size: 26px;
  font-weight: 1000;
  letter-spacing: -1px;
  cursor: pointer;
}

.latest-news-header:hover {
  color: black;
}

.latest-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 226px 226px;
  gap: 1.3% 1.9%;
}

.latest-grid article {
  cursor: pointer;
}

.art-img {
  height: 60%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.art-img-1 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/DDFree-movies-516x270.jpg);
}

.art-img-2 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/playstation-ps5-dualsense-controller-design-516x270.jpg);
}

.art-img-3 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/07/Zoom-trash-hed-v2-513x270.jpg);
}

.art-img-4 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/sale_27613_primary_image_wide-540x270.jpg);
}

.art-img-5 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/ev-tesla-bmw-nissan-leaf-i3-vw-eup-magnetic-field-pacemaker-cied-cardiac-480x270.jpg);
}
.art-img-6 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/1-11-516x270.jpg);
}

.art-img-7 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-516x270.png);
}

.art-img-8 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/SprayableTech-MIT-514x270.jpg);
}

.art-desc {
  margin: 3% auto;
}

.art-desc:hover {
  color: #ff4422;
}

.art-foot {
  margin: 0;
  color: rgb(182, 182, 182);
  font-size: 13px;
}

@media (max-width: 1024px) {
  .show {
    visibility: hidden;
  }
}

@media (max-width: 1024px) {
  .latest {
    width: 95%;
    min-width: 95%;
  }
  .latest-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 226px 226px 226px;
  }
  .art-img {
    transition: 0.5s;
  }
}

@media (max-width: 767px) {
  .latest-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    cursor: pointer;
    gap: 10px;
    height: 100%;
  }

  .latest {
    height: 684px;
  }

  .latest-grid article {
    position: relative;
    z-index: -1;
    margin: 2px 0;
  }

  .art-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    padding-top: 25px;
    background-position: 50%;
    background-size: cover;
    z-index: 0;
    transition: 0.5s;
  }

  .art-desc {
    margin: 0 0 0 90px;
    font-size: 13px;
    font-family: "Liberation Sans Bold";
  }

  .art-foot {
    margin: 0 0 0 90px;
    color: rgb(182, 182, 182);
    font-size: 12px;
    padding-top: 10px;
    font-family: "Liberation Sans";
  }

  .latest-grid article:hover {
    color: #ff4422;
  }
}

/* FUNDING SECTION */
.funding {
  display: flex;
  flex-direction: column;
  max-width: 1192px;
  margin: 0 auto;
}

.funding-top {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 20px;
}

.rounds-left {
  flex: 1;
  font-size: 1.5em;
  color: #ff4422;
  font-weight: 900;
  text-decoration: none;
}

.rounds-left:hover,
.rounds-right:hover,
.deals-top-left:hover,
.deals-top-right:hover {
  color: black;
}

.rounds-r {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.rounds-right {
  text-decoration: none;
  color: #ff4422;
  padding: 0 10px;
  border-right: 1px solid #ff4422;
}

.rounds-right-last {
  border: none;
}

.funding-main {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.fund {
  display: flex;
  flex-basis: 24%;
  flex-direction: column;
  color: #555;
}

.fund-top {
  display: flex;
  width: 100%;
  background: #ff432232;
  margin: 0;
  flex-direction: column;
  position: relative;
  z-index: -1;
}

.fund-top h3 {
  margin: 0;
  background: #ff4422;
  color: white;
  padding: 10px 10px 10px 29%;
}

.fund-top-bottom {
  padding: 10px 10px 10px 0;
  margin-left: 29%;
}

.fund-amt {
  margin: 0;
  font-weight: bold;
  color: black;
}

.fund-type {
  margin: 0;
  font-size: 0.7em;
}

.fund-img {
  position: absolute;
  width: 20%;
  height: 60%;
  margin: 0;
  top: 20%;
  left: 4%;
  bottom: 20%;
}

.fund-center {
  margin-top: 2%;
  padding-left: 14px;
  cursor: pointer;
}

.fund-center p {
  margin: 3% 0 0;
  font-size: 14px;
}

.fund-center p:hover {
  color: black;
}

.fund-foot {
  border-top: 0.5px solid #ff4422;
  margin-top: 5%;
  font-size: 14px;
  padding-left: 14px;
}

.fund-foot p {
  margin: 3% 0 0;
  cursor: pointer;
}

.fund-foot small {
  margin: 3% 0 0;
  color: grey;
  cursor: pointer;
}

/* DEALS SECTION */
.latest-deals {
  display: flex;
  flex-direction: column;
  max-width: 1192px;
  margin: 20px auto 15%;
}

.deals-top {
  flex: 1;
  display: flex;
  align-items: center;
  /* border: solid black; */
  margin: 30px 0;
}

.deals-top-left {
  display: flex;
  flex: 1;
  text-decoration: none;
  color: #ff4422;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
}

.deals-top-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-decoration: none;
  color: #ff4422;
}

.deals-body {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: 226px 226px;
  grid-row-gap: 20px;
  justify-content: space-between;
}

.deals {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 10% 10%;
}

.deals-img {
  content: "";
  width: 100%;
  height: 100%;
  background: url(https://cdnp0.stackassets.com/7a3bbbe12b77586ca58798dc2aac6b0f51f7a8ac/store/f9f2b2fcf253000289dc27dcaaa106fa4b1a0c3e579bbc0612dd572eee70/sale_26993_primary_image.jpg);
  background-size: cover;
  cursor: pointer;
}

.deals-title {
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.deals-title:hover {
  color: #ff4422;
  text-decoration: underline solid 0.5px;
}

.deals-price {
  margin: 0;
}

.crossed {
  font-size: 13px;
  text-decoration: line-through;
  color: grey;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  /*///////1024///////////*/
  .funding {
    width: 95%;
  }
  .funding-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    grid-column-gap: 10px;
    width: 100%;
  }

  .fund-last {
    display: none;
  }

  .huge-top {
    display: none;
  }

  .huge {
    background-size: auto;
    display: grid;
    grid-template-rows: 1fr;
  }

  .latest-deals {
    width: 95%;
  }

  .deals-body {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 226px);
    grid-row-gap: 20px;
    justify-content: space-between;
  }

  .deals-title {
    font-size: 0.9em;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  /*///////768///////////*/
  .funding-main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    grid-row-gap: 10px;
    width: 100%;
  }

  .fund-top h3 {
    margin: 0;
    padding: 10px 10px 10px 15%;
  }

  .fund-top-bottom {
    padding: 10px 10px 10px 0;
    margin-left: 15%;
  }

  .fund-img {
    width: 11%;
    height: 70%;
    top: 10%;
    left: 2%;
  }

  .funding {
    display: flex;
    flex-direction: column;
    max-width: 1192px;
    margin: 0 auto;
    /* border: 1px solid black; */
  }

  .funding-top {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .rounds-left {
    flex: 1;
    font-size: 1.5em;
    color: #ff4422;
    font-weight: 900;
    text-decoration: none;
  }

  .rounds-r {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .rounds-right {
    border: none;
    padding: 0;
    margin: 10px 0 10px 0;
  }

  .rounds-right-last {
    margin-bottom: 0;
  }

  .header-grid {
    grid-template-columns: 100%;
    grid-template-rows: 182px 182px 182px;
    grid-row-gap: 10px;
  }

  .huge {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .title-cover {
    font-size: 24px;
  }

  .aside1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .aside2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .deals-body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    cursor: pointer;
    gap: 10px;
    height: 100%;
  }

  .latest-deals {
    height: 684px;
  }

  .deals {
    position: relative;
    z-index: -1;
    margin: 15px 0;
  }

  .deals-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    padding-top: 25px;
    background-position: 50%;
    background-size: cover;
    z-index: 0;
    transition: 0.5s;
  }

  .deals-title,
  .deals-price {
    margin: 0 0 0 90px;
    font-size: 13px;
    font-family: "Liberation Sans Bold";
  }
}

/* latest news section starts here */

.news-section {
  margin: 2% auto 5% auto;
  max-width: 1192px;
  padding: 0 20px;
}

.news-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
}

.news {
  padding: 0 12px;
}

.news-header {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
  font-family: sans-serif;
  font-size: 25px;
  margin-bottom: 7%;
  cursor: pointer;
  transition: 0.5s;
}

.news-header:hover {
  color: #000;
}

.news ul {
  list-style: none;
  padding-inline-start: 0;
  cursor: pointer;
}

.news-article {
  width: 100%;
  position: relative;
  height: 275px;
  margin: 0 auto;
  z-index: -1;
  transition: 0.5s;
}

.news-article-img {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-position: 50%;
  background-color: #000;
  height: 65%;
  padding: 15%;
}

.news-article-gradient {
  background: transparent url(../img/news-image-gradient.png) no-repeat;
  background-size: 100% 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.news-heading {
  bottom: 0;
  left: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.news-header-popular {
  color: #fff;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.5;
  margin-block-start: 0;
  margin-block-end: 0;
}

.news-header-popular-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: #fff;
  margin-block-start: 0;
}

.news-header-popular-title:hover {
  text-decoration: underline;
}

.news-article-footer {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.news-latest-section {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 68, 34, 0.06);
  margin: 2px 0;
}

.news-latest-header {
  flex: 1;
  padding: 10px 14px 0;
}

.news-latest {
  font-size: 13px;
  font-weight: 500;
  color: #f42;
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
}

.news-lattest-title {
  width: 100%;
  font-size: 14px;
  color: #f42;
  font-weight: 700;
  line-height: 1.25;
  max-height: 56px;
  margin: 0;
}

.nes-latest-img {
  opacity: 1;
  flex: 0 0 96px;
  background-size: cover;
  background-position: 50%;
  height: 96px;
  width: 96px;
  background-color: #000;
}

.news-latest-section-headline {
  border-bottom: 1px solid #eee;
}

.news-latest-section-headline div {
  color: #555;
  padding: 6px 0 6px 14px;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.news-latest-section-headline p {
  margin: 0 auto;
}

.news-latest-section-headline p:hover {
  color: gray;
}

.news1 div.news-article-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/DDFree-movies-368x276.jpg");
}

.news2 div.news-article-img {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Snag_26d7fdfc-368x276.png);
}

.news3 div.news-article-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/04/skype-video-calling-on-microsoft-edge1-368x276.jpg");
}

.news4 div.news-article-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Animal-Crossing-Hyrule-368x276.jpg");
}

.news5 div.news-article-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/corona-brands-368x276.jpg");
}

.news6 div.news-article-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/airbnb2-368x276.jpg");
}

.news7 div.news-article-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Google-coronavirus-portal-368x276.jpg");
}

.news8 div.news-article-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Facebook-Gaming-Tournaments-368x276.jpg");
}

.news1 div.nes-latest-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/slack-interface-customize.jpg");
}

.news2 div.nes-latest-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Snag_27fce4c6.png");
}

.news3 div.nes-latest-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-....png");
}

.news4 div.nes-latest-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Getty-Photo-Challenge.jpg");
}

.news5 div.nes-latest-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/question-unknown.png");
}

.news6 div.nes-latest-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/brand-authority.png");
}

.news7 div.nes-latest-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/bubble-car-isetta-bmw-microlino-microletta-ev-car-new-announced.png");
}

.news8 div.nes-latest-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Person-using-laptop-on-plane-Wi-Fi-hed.jpg");
}

/* MAIN FOOTER STARTS HERE */
.main-footer {
  z-index: -999;
}

.main-footer-upper {
  border: solid 3px;
  width: 100%;
  padding: 3em 0;
  background: #131313;
}

.main-footer-upper-links-container {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 25px;
}

.footer-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.footer-links li {
  color: #aaa;
  margin: 0 6px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  cursor: pointer;
}

.footer-links li:hover {
  color: #fff;
}

.main-footer-upper-links-container-iconslist {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 1.5em 0;
}

.main-footer-upper-links-container-iconslist li {
  margin: 0 8px;
  display: flex;
}

.main-footer-upper-links-container-iconslist div {
  background: #333;
  border-radius: 50%;
  height: 40px;
  padding: 12px;
  text-align: center;
  width: 40px;
  font-size: xx-large;
  cursor: pointer;
}

.main-footer-upper-links-container-iconslist div:hover {
  background-color: #000;
}

.fa-facebook {
  background: transparent;
  font-size: 1.33333em;
  line-height: 0.75em;
  color: #fff;
  position: relative;
  top: 3.9px;
  right: 1px;
}

.fa-twitter-square {
  background: transparent;
  font-size: 1.33333em;
  line-height: 0.75em;
  color: #fff;
  position: relative;
  top: 3.9px;
}

.fa-youtube-square {
  background: transparent;
  font-size: 1.33333em;
  line-height: 0.75em;
  color: #fff;
  position: relative;
  top: 3.9px;
}

.fa-instagram {
  background: transparent;
  font-size: 1.33333em;
  line-height: 0.75em;
  color: #fff;
  position: relative;
  top: 3.9px;
}

.fa-pinterest-p {
  background: transparent;
  font-size: 1.33333em;
  line-height: 0.75em;
  color: #fff;
  position: relative;
  top: 3.9px;
}

.fa-rss {
  background: transparent;
  font-size: 1.33333em;
  line-height: 0.75em;
  color: #fff;
  position: relative;
  top: 3.9px;
}

.fa-envelope {
  background: transparent;
  font-size: 1.33333em;
  line-height: 0.75em;
  color: #fff;
  position: relative;
  top: 3.9px;
  right: 1px;
}

.main-footer-lower {
  padding: 3em 0;
  background: #000;
  color: #aaa;
  font-size: 13px;
}

.main-footer-lower-container {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.main-footer-lower-container img {
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
  cursor: pointer;
}

.hidden-stuff {
  visibility: hidden;
}

@media (max-width: 1023px) {
  .news-section-grid {
    grid-template-columns: 1fr 1fr;
  }
  .news-header {
    margin-bottom: 10%;
  }
}

@media (max-width: 767px) {
  .news-section-grid {
    grid-template-columns: 1fr;
  }

  .news-section {
    margin-top: 10%;
  }

  .news-header {
    margin-bottom: 15%;
  }
  .news-article {
    height: 300px;
  }
  .change-on-mobile {
    display: none;
  }
  .upper-left {
    padding-left: 2%;
  }
  .upper-left li:last-of-type {
    display: none;
  }
  .upper-right {
    padding: 0;
  }
  .upper-right li {
    display: none;
  }
  .main-footer-lower-container {
    flex-direction: column;
    align-items: center;
  }
  .main-footer-lower span {
    padding-top: 10px;
  }
  .main-footer-upper-links-container-iconslist li:last-child {
    display: none;
  }
  .main-footer-upper-links-container-iconslist li:first-of-type {
    display: none;
  }
}
