body {
  box-sizing: border-box;
  font-family: Helvetica Neue, Arial, sans-serif;
}

.hidden-elements {
  visibility: hidden;
}

.main-header {
  display: initial;
  z-index: 999;
}
.uppernav {
  display: flex;
  width: 100%;
  background: black;
  color: white;
  font-size: 13px;
  align-items: center;
  height: 30px;
  letter-spacing: 1px;
}

.upper-left {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.upper-left li {
  margin-right: 10px;
  cursor: pointer;
}

.upper-right {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.upper-right li {
  margin-right: 10px;
  cursor: pointer;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.lowernav {
  display: flex;
  width: 100%;
  background: rgb(255, 255, 255);
  color: #aaa;
  font-size: 13px;
  font-weight: 500;
  align-items: center;
  height: 50px;
  font-family: sans-serif;
  letter-spacing: 0.04em;
  justify-content: space-between;
  position: relative;
}

#lowerlist {
  list-style: none;
  display: flex;
  padding-left: 20px;
  transition: 0.5s;
}

#lowerlist li {
  margin-right: 30px;
  cursor: pointer;
}

#logo-corner {
  width: 106px;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: ease-in-out;
  visibility: hidden;
  z-index: 999;
}

#logo-corner:hover {
  background-image: url(/img/logobackground.gif);
  background-position: 50%;
  background-size: cover;
}

#logo-corner img {
  padding: 16px;
}

#logo-corner .popup-menu {
  visibility: hidden;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-items: space-between;
  padding: 5px 0;
  top: 50px;
  left: 0;
  position: absolute;
  width: 106px;
  z-index: 20;
  font-size: 13px;
  list-style: none;
  text-decoration: none;
}

.popup-menu li {
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  margin-left: 25%;
  color: gray;
  font-family: "Liberation Sans", Helvetica;
}

.popup-menu li:first-child {
  color: white;
}

.popup-menu li:hover {
  color: white;
}

#logo-corner .show {
  visibility: visible;
  animation: fadeIn 90ms;
}

@keyframes fadeIn {
  0% {
    height: 0%;
    opacity: 0;
  }
  25% {
    height: 25%;
    opacity: 0.25;
  }
  50% {
    height: 50%;
    opacity: 0.5;
  }
  75% {
    height: 75%;
    opacity: 0.75;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .logo-corner .popup-menu {
    position: relative;
    visibility: visible;
    padding: 500px;
  }
  .nav .lowernav {
    padding-left: 106px;
  }
}

.search-button-container {
  padding: 1%;
  border-left: 1px solid #eee;
  cursor: pointer;
}

#banner {
  display: flex;
  background: yellow;
  padding-left: 20px;
  margin: 0;
  width: 100%;
  height: 30px;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease;
  font-size: 12.8px;
}

.header-grid {
  display: grid;
  grid-template-columns: 3fr 1.3fr;
  grid-template-rows: 227px 227px;
  grid-gap: 10px;
  color: white;
  margin: 0% 0.3%;
}

.huge {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/kayleighmcenany-796x419.jpg);
}

.huge div {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 0, 0) 10%,
    rgba(0, 0, 0, 0.678) 85%,
    rgba(0, 0, 0, 0.753)
  );
}

.tnw-cover-logo {
  width: 400px;
  float: left;
  margin: 0;
}

.cover-date {
  float: right;
  margin-right: 20px;
}

.title-cover {
  clear: both;
  font-size: 40px;
  margin-top: 30%;
  margin-bottom: 0;
  margin-left: 20px;
}

.cover-footer {
  font-size: 11px;
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 20px;
  color: rgb(236, 236, 236);
}

.cover-footer li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.cover-footer a {
  margin-left: 4px;
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.cover-footer a:hover {
  color: white;
  font-size: 11.5px;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside1 {
  grid-column: 2;
  grid-row: 1/2;
  background: grey;
  padding-left: 20px;
}

.aside2 {
  grid-column: 2;
  grid-row: 2/3;
  background: grey;
  padding-left: 20px;
}

.aside-head {
  font-size: 22px;
  margin-top: 5px;
}

.aside ul {
  margin-left: 0;
  margin-bottom: 5px;
}

.aside > p {
  margin-bottom: 4px;
  margin-top: 20px;
  width: 35%;
}

.latest {
  margin: 5% auto;
  max-width: 1192px;
}

.latest-news-header {
  color: #ff4422;
  font-size: 26px;
  font-weight: 1000;
  letter-spacing: -1px;
  cursor: pointer;
}

.latest-news-header:hover {
  color: black;
}

.latest-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 226px 226px;
  gap: 1.3% 1.9%;
}

.latest-grid article {
  cursor: pointer;
}

.art-img {
  height: 60%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.art-img-1 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/DDFree-movies-516x270.jpg);
}

.art-img-2 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/playstation-ps5-dualsense-controller-design-516x270.jpg);
}

.art-img-3 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/07/Zoom-trash-hed-v2-513x270.jpg);
}

.art-img-4 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/sale_27613_primary_image_wide-540x270.jpg);
}

.art-img-5 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/ev-tesla-bmw-nissan-leaf-i3-vw-eup-magnetic-field-pacemaker-cied-cardiac-480x270.jpg);
}

.art-img-6 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/1-11-516x270.jpg);
}

.art-img-7 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-516x270.png);
}

.art-img-8 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/SprayableTech-MIT-514x270.jpg);
}

.art-desc {
  margin: 3% auto;
}

.art-desc:hover {
  color: #ff4422;
}

.art-foot {
  margin: 0;
  color: rgb(182, 182, 182);
  font-size: 13px;
}

@media (max-width: 1024px) {
  .show {
    visibility: hidden;
  }
}

@media (max-width: 1024px) {
  .latest {
    width: 95%;
    min-width: 95%;
  }
  .latest-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 226px 226px 226px;
  }
  .art-img {
    transition: 0.5s;
  }
}

@media (max-width: 768px) {
  .latest-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    cursor: pointer;
    gap: 10px;
    height: 100%;
  }

  .latest {
    height: 684px;
  }

  .latest-grid article {
    position: relative;
    z-index: -1;
    margin: 2px 0;
  }

  .art-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    padding-top: 25px;
    background-position: 50%;
    background-size: cover;
    z-index: 0;
    transition: 0.5s;
  }

  .art-desc {
    margin: 0 0 0 90px;
    font-size: 13px;
    font-family: "Liberation Sans Bold";
  }

  .art-foot {
    margin: 0 0 0 90px;
    color: rgb(182, 182, 182);
    font-size: 12px;
    padding-top: 10px;
    font-family: "Liberation Sans";
  }

  .latest-grid article:hover {
    color: #ff4422;
  }
}
